@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px; list-style:none;}
a{text-decoration:none; color:#333;}
a:hover{text-decoration:none; color:#f90;}

a.con_k2_an{ float:left; width:auto; font:12px "宋体"; color:#8b0810; text-decoration:none; padding:0px 20px; line-height:18px; text-align:center; border-right:1px #f2f2f2 solid; overflow:hidden;}
a.con_k2_anl{ float:left; width:auto; font:12px "宋体";  color:#8b0810; text-decoration:none; padding:0px 20px; line-height:18px; text-align:center; overflow:hidden;}
a.con_k2_an:hover{ text-decoration:none}
a.conpp{background-color:#fefefe; color:#c40001;}
a.conpxx{background:url(images/cxps.jpg); background-repeat:no-repeat; background-position:57px 25px; background-color:#fefefe; color:#c40001;}
a.conpxs{background:url(images/cxpx.jpg); background-repeat:no-repeat; background-position:57px 25px; background-color:#fefefe; color:#c40001;}
a.conpxxx{background:url(images/cxps.jpg); background-repeat:no-repeat; background-position:105px 4px; width:100%; text-align:center; float:left; height:29px;}
a.conpxss{background:url(images/cxpx.jpg); background-repeat:no-repeat; background-position:105px 4px; width:100%; text-align:center; float:left;  height:29px;}

a.conpxxxx{background:url(images/cxps.jpg); background-repeat:no-repeat; background-position:70px 18px;  text-align:center; color:#8f233b; font-weight:bold; line-height:45px;}
a.conpxsss{background:url(images/cxpx.jpg); background-repeat:no-repeat; background-position:70px 18px;  text-align:center; color:#8f233b; font-weight:bold; line-height:45px;}

a.con_k2_bo_02{ float:left; width:1000px; height:29px; border-bottom:1px dashed #d1d1d1; text-decoration:none; font:12px/29px "宋体"; color:#111; }
a.con_k2_bo_02:hover{ color:#e80109;}
.con_k2_bo_02 p{ float:left; width:56px; overflow:hidden; height:29px; text-align:center; margin:2px 5px; _display:inline; cursor:pointer; }

td{font-size:12px;}
img{border:0px;}
.dqflz{ height:38px; clear:both;}
.dqflz a{ display:block; width:15px; height:15px; padding:4px;}
.ty{width:100%; float:left;}
body{font-family:"微软雅黑", Microsoft YaHei, Verdana, Arial; font-size:12px; background:#fff; color:#666;}
.top_h{width:100%; float:left; background-image:url(images/index_01.gif); line-height:32px; height:37px; background-repeat:repeat-x;}
.web{width:1002px; margin:0 auto;}
.logo{width:225px; float:left;}
.menu{width:100%; float:left; background-image:url(images/index_13.jpg); height:38px; position:relative; z-index:98;}
.topmenu{ position:relative;}
.topmenu_fixed {position: fixed;top: 0px;z-index: 999;width:1002px;}
.menu ul{list-style:none; position:relative; z-index:98; width:972px; float:left; margin-left:7px; display:inline;}
.menu li{width:79px; float:left; font-size:14px; font-weight:bold; display:inline; text-align:center;}
.menu ul li:hover ul{display:block;}
.menu ul li ul{display:none; background-color:#FFF; float:left; width:100px;  border:1px solid #ccc; border-bottom:0px; border-top:1px #c40001 solid; top:-3px; left:-12px; z-index:98; position:relative;}
.menu ul li ul li{padding:0px; background-color:#FFF; float:left; width:100%; z-index:98; border-bottom:1px #c40001 solid; position:relative;  left:0;}
.menu ul li ul li a{text-align:center; width:100%; height:35px; line-height:32px; display:block; text-decoration:none;  float:left; z-index:98; position:relative;}
.menu ul li ul li a:hover{color:#FFF;}
.menu ul li ul li:hover{background:#666;}
.menu li a{color:#000; line-height:35px; width:79px; float:left; text-align:center;}
.menu li a:hover{color:#fff; background-color:#C00;}

.box ul{margin:0px; padding:0px; list-style:none; position:relative; z-index:99;}
.box ul li{margin:0px 2px 0px 0px; padding:0px; width:55px; height:35px; display:inline; float:left;}
.box ul li:hover ul{display:block;}
.box ul li a{text-align:center; width:55px; height:35px; line-height:32px; display:block; text-decoration:none;  float:left;}
.box ul li ul{display:none; background-color:#FFF; float:left; width:150px; border:1px solid #ccc; border-top:0px; top:-3px;}
.box ul li ul li{margin:0px 0px 2px 0px; padding:0px; background-color:#FFF; float:left; width:100%;}
.box ul li ul li a{text-align:left; text-indent:10px; width:100%; height:35px; line-height:32px; display:block; text-decoration:none;  float:left;}
.box ul li ul li a:hover{color:#FFF;}
.box ul li ul li:hover{background:#666;}

.boxdl ul{margin:0px; padding:0px; list-style:none; position:relative; z-index:99;}
.boxdl ul li{width:60px; height:35px; display:inline; float:left; color:#CB2412; text-align:center;}
.boxdl ul li:hover {width:60px; height:30px; display:inline; float:left; color:#fff; background-color:#c40001; text-align:center; cursor:pointer;}
.boxdl ul li a{color:#CB2412; width:100%; float:left; text-align:center;}
.boxdl ul li a:hover{color:#FFF;}
.top_gd{width:100%; float:left; background-image:url(images/index_25.jpg); height:35px; overflow:hidden; margin-top:5px; position:relative; z-index:1;}

/* 常见焦点图 */
.focusBox{ width:310px; height:260px; overflow:hidden; position:relative;}
.focusBox .hd{ position:absolute; z-index:2; right:3px; top:235px; }
.focusBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.focusBox .hd ul li{ float:left; margin-right:3px;  width:18px; height:18px; line-height:18px; text-align:center; background:#ddd; cursor:pointer;font-family:Arial; color:#666;}
.focusBox .hd ul li.on{ background:#000; color:#fff; }
.focusBox .bd{ position:relative; z-index:1;  }
.focusBox .bd .pic{ position:absolute; z-index:1; float:left; top:0px;}
.focusBox .bd .pic img{ width:310px; height:260px;}
.focusBox .bd .con{ height:28px; line-height:28px; text-align:center; font-weight:bold; color:#fff; float:left; top:0; position:absolute; z-index:99; width:100%;}
.focusBox .bd .conbg{ height:28px; line-height:28px; text-align:center; font-weight:bold; background:#000; float:left; top:0; filter:alpha(opacity=50);-moz-opacity:0.5; color:#fff; position:absolute; z-index:98; width:100%;}

.top_tit{width:100%; float:left; border-bottom:1px #ccc dashed; height:95px;}
.top_tit h2{width:100%; float:left; text-align:center; font-size:16px;}
.top_tit h2 a{color:#c40001;}
.top_tit h2 a:hover{color:#666;}
.top_tit span{width:100%; float:left; margin-top:10px; line-height:20px;}

.new_list{width:95%; margin:0 auto;}
.new_list ul{width:100%; float:left; margin-top:5px;}
.new_list li{text-align:left; margin-top:2px; height:22px; float:left; width:100%;}
.new_list li a#n1{ text-decoration:none; float:left; line-height:18px; color:#4c4c4c; background-image:url(images/dot_18.jpg); background-repeat:no-repeat; background-position:0px 5px;}
.new_list li a#n3{ float:right; line-height:15px; color:#949492; font-size:12px;}
.new_list li a#n1:hover{ color:#c40001;}
.new_list li a#n3:hover{ text-decoration:none;}

.new_list1{width:95%; margin:0 auto;}
.new_list1 ul{width:100%; float:left; margin-top:5px;}
.new_list1 li{text-align:left; margin-top:2px; height:22px; float:left; width:48%;}
.new_list1 li a#n1{ text-decoration:none; float:left; line-height:18px; color:#4c4c4c; background-image:url(images/dot_18.jpg); background-repeat:no-repeat; background-position:0px 5px;}
.new_list1 li a#n3{ float:right; line-height:15px; color:#949492; font-size:12px;}
.new_list1 li a#n1:hover{ color:#c40001;}
.new_list1 li a#n3:hover{ text-decoration:none;}


.tit{width:100%; float:left; background-image:url(images/index_33.jpg); height:28px;}
.tit_01{width:auto; float:left; line-height:27px; text-indent:10px; font-weight:bold; font-size:14px; color:#c40001;}
.tit_01 a{color:#c40001;}
.tit_01 a:hover{color:#f90;}
.tit_02{width:auto; float:left; line-height:27px; text-indent:10px; font-weight:bold; font-size:14px; }
.tit_740{width:100%; float:left; background-image:url(images/index_41.jpg); height:30px; border-bottom:1px solid #CCC;}

.tabmenu { width:521px;height:32px; }
.tabmenu ul {margin:0;padding:0;list-style-type: none;}
.tabmenu li { text-align:center; float:left; display:block; padding-top:2px; width:261px; height:28px; overflow:hidden; font:14px/28px "宋体"; font-weight:bold; display:inline; cursor:pointer; border-bottom:1px #c40001 solid; color:#2d2d2d;}
.tabmenu .cli {text-align:center;float:left;display:block;padding-top:2px; width:260px; height:28px; overflow:hidden;font:14px/28px "宋体";font-weight:bold; display:inline; cursor:pointer; border:0px; color:#fff; background-color:#c40001;}
#tabcontent { width:251px; height:132px; margin-top:20px; padding-top:5px; _padding-top:1px; float:left; }
#tabcontent ul {margin:0;list-style-type: none;}
#tabcontent .hidden {display:none;}

/* 顶部滚动文字 */
.txtMarquee-left{ width:485px; float:left;  position:relative;   }
.txtMarquee-left .bd{ padding:5px; }
.txtMarquee-left .bd .tempWrap{ width:100% !important; }/* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
.txtMarquee-left .bd ul{ overflow:hidden; zoom:1; }
.txtMarquee-left .bd ul li{ margin-right:20px;  float:left; height:24px; line-height:24px;  text-align:left; _display:inline; width:auto !important;  }/* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */

/* 滑动门 */
.slideTxtBox{ width:100%; text-align:left;  }
.slideTxtBox .hd{  line-height:28px; width:350px; float:left; position:relative;  }
.slideTxtBox .hd ul{ float:left;  display:inline; width:350px;height:32px ; margin-left:80px; display:inline;}
.slideTxtBox .hd ul li{ float:left; cursor:pointer; width:70px; text-align:center; margin-top:2px;}
.slideTxtBox .hd ul li.on{ height:24px;  color:#c40001; background-color:#FFF; border:1px #c40001 solid; border-bottom:0px; }
.slideTxtBox .bd ul{ zoom:1; width:300px; float:left; margin-top:10px;}
.slideTxtBox .bd li{ height:24px; line-height:24px; float:left; width:100%;}
.slideTxtBox .bd li .date{ float:right; color:#999;  }

.slideTxtBoxzs{ width:100%; text-align:left;  }
.slideTxtBoxzs .hd{  line-height:28px; width:100%; float:left; position:relative;  }
.slideTxtBoxzs .hd ul{ float:left;  display:inline; width:100%;height:32px ; display:inline;}
.slideTxtBoxzs .hd ul li{ float:left; cursor:pointer; width:84px; text-align:center; margin-top:2px;}
.slideTxtBoxzs .hd ul li.on{ height:24px;  color:#c40001; background-color:#FFF; border:1px #c40001 solid; border-bottom:0px; }
.slideTxtBoxzs .bd ul{ zoom:1; width:245px; margin:0 auto;}
.slideTxtBoxzs .bd li{ height:24px; line-height:24px; float:left; width:100%; margin-top:5px;}
.slideTxtBoxzs .bd li .date{ float:right; color:#999;  }

.slideTxtBBx{ width:100%; text-align:left;  }
.slideTxtBBx .hd{  line-height:30px;  width:98px; float:left; }
.slideTxtBBx .hd ul{ float:left; margin-left:10px; width:98px; margin-top:2px; display:inline;}
.slideTxtBBx .hd ul li{ float:left; height:28px; overflow:hidden;  cursor:pointer; width:98px; text-align:center; background-image:url(images/index_52.jpg); margin-left:10px; margin-top:9.5px; border-bottom:1px solid #ccc;}
.slideTxtBBx .hd ul li.on{ height:28px; background-image:url(images/index_52.jpg); color:#c40001; }

.slideTxtBBx .bd ul{width:845px; float:left; height:28px; margin:5px; margin-left:15px; display:inline;}
.slideTxtBBx .bd li{width:auto; float:left; margin-left:5px; margin-right:5px; line-height:45px; height:28px; display:inline;}
.slideTxtBBx .bd li a{font-size:14px; padding-left:17px;}

.slideTxtBBBx{ width:100%; text-align:left;  }
.slideTxtBBBx .hd{  line-height:30px; width:auto; float:left; position:relative;  }
.slideTxtBBBx .hd ul{ float:left; margin-left:120px; display:inline; margin-top:2px;}
.slideTxtBBBx .hd ul li{ float:left; height:28px; overflow:hidden;  cursor:pointer; width:98px; text-align:center; background-image:url(images/index_52.jpg); margin-left:10px;}
.slideTxtBBBx .hd ul li.on{ height:28px; background-image:url(images/index_52.jpg); color:#c40001; }
.slideTxtBBBx .bd ul{ zoom:1; width:714px; float:left; margin:12px; display:inline;}
.slideTxtBBBx .bd li{ height:36px; line-height:24px; margin:6.5px; width:105px; float:left; display:inline;}
.slideTxtBBBx .bd li img{width:105px; height:36px; border:1px #CCC solid;}
.slideTxtBBBx .bd li .date{ float:right; color:#999;  }

.slideTxtBBxx{ width:100%; text-align:left;  }
.slideTxtBBxx .hd{  line-height:30px; width:auto; float:left; position:relative;  }
.slideTxtBBxx .hd ul{ float:left; display:inline; margin-top:2px;}
.slideTxtBBxx .hd ul li{ float:left; height:28px; overflow:hidden;  cursor:pointer; width:98px; text-align:center;}
.slideTxtBBxx .hd ul li.on{ height:28px; background-image:url(images/index_72.jpg); background-repeat:no-repeat; background-position:10px 10px; border:1px solid #ccc; border-bottom:0px; border-top:0px; color:#c40001; }
.slideTxtBBxx .bd ul{ zoom:1; width:auto; float:left; margin:10px; display:inline;}
.slideTxtBBxx .bd li{ height:24px; line-height:24px; width:auto; float:left; white-space:normal; word-break:break-word; margin-left:6px; margin-right:7px; display:inline;}
.slideTxtBBxx .bd li .date{ float:right; color:#999;  }

.foot{width:100%; float:left; text-align:center; line-height:25px;}


.tabmenu_01 { float:left; width:500px; margin-left:40px; display:inline;}
.tabmenu_01 ul {margin:0;padding:0;list-style-type: none;}
.tabmenu_01 li { float:left; height:29px; overflow:hidden; font:12px/32px "宋体"; display:inline; color:#525252;  width:98px; text-align:center; background-image:url(images/index_52.jpg); margin-top:2px; margin-left:2px; display:inline;}
.tabmenu_01 .cli {float:left; height:29px; overflow:hidden;font:12px/32px "宋体"; display:inline; cursor:pointer; color:#20a300; width:98px; text-align:center; background-image:url(images/index_52.jpg);  margin-top:2px; margin-left:2px; display:inline;}
#tabcontent_01 { float:left; width:588px; height:194px; }
#tabcontent_01 ul {margin:0;list-style-type: none;}
#tabcontent_01 .hidden {display:none;}

.con_k2_bo{ float:left; width:1002px; min-height:208px;}
.con_k2_bo_01{ float:left; width:100%; height:39px;_display:inline; border-bottom:1px solid #f2f2f2;}


.txtMarquee-top{ width:100%; float:left;}
.txtMarquee-top .bd{}
.txtMarquee-top .infoList li{float:left;}

.txtMarquee-top1{ width:100%; float:left; }
.txtMarquee-top1 .bd{}
.txtMarquee-top1 .infoList li{float:left; width:100%;}


.txtMarquee-top2{ width:100%; float:left; }
.txtMarquee-top2 .bd{}
.txtMarquee-top2 .infoList li{float:left; width:100%;}

.txtMarquee-top3{ width:100%; float:left; }
.txtMarquee-top3 .bd{}
.txtMarquee-top3 .infoList li{float:left;}

.txtMarquee-top4{ width:100%; float:left; }
.txtMarquee-top4 .bd{}
.txtMarquee-top4 .infoList li{float:left;}

.txtMarquee-top5{ width:100%; float:left; }
.txtMarquee-top5 .bd{}
.txtMarquee-top5 .infoList li{float:left;}

.txtMarquee-top6{ width:100%; float:left; }
.txtMarquee-top6 .bd{}
.txtMarquee-top6 .infoList li{float:left;}

.txtMarquee-top7{ width:100%; float:left; }
.txtMarquee-top7 .bd{}
.txtMarquee-top7 .infoList li{float:left;}

.txtMarquee-top8{ width:100%; float:left; }
.txtMarquee-top8 .bd{}
.txtMarquee-top8 .infoList li{float:left;}

.lrss{border-bottom:1px solid #cccccc;}
a.con_k4_nr{ float:left; margin-left:12px; height:30px; font:14px/30px "宋体";  color:#333333; text-decoration:none; padding-left:13px; }
a.con_k4_nr:hover{ color:#65ad35; }

.con_k1_bo{ float:left; width:223px; height:198px; padding-top:7px; background:url(images/c_tu04.jpg) }
a.e{ float:left; width:188px; height:53px; border-bottom:1px dashed #d3d3d3; margin-left:13px; padding:7px 0px 0px 8px; font:12px/24px "宋体"; color:#111; text-decoration:none; }
a.e:hover{ color:#72b647; }

.con_zs_ti{ float:left; width:740px; height:32px; background:url(images/c_tu23.jpg);}
.con_zs_t{ float:left; width:146px; padding-top:10px; font:12px "宋体"; font-weight:bold; text-align:center; }

a.con_zs_bo01{ float:left; width:735px; height:35px; text-decoration:none; font:12px/35px "宋体"; color:#111; background:url(images/c_tu26.jpg) }
a.con_zs_bo01:hover{ color:#e80109; }
.con_zs_bo01 p{ float:left; width:145px; height:35px; text-align:center; padding-left:1px; cursor:pointer; }

a.phb_an{ float:left; width:12px; height:48px;  padding:1px 15px 0px 15px; text-decoration:none; font:12px/15px "宋体"; margin-bottom:5px; }
a.phbmx:hover{ color:#c40001;  text-decoration:none; }
a.phbyx:hover{ color:#FFFFFF;  text-decoration:none;}
.phbyx{ background:#c40001; color:#FFFFFF; }
.phbmx{ color:#111; background:url(images/c_tu16.jpg)} 
#phbzj{}
#x_04{width:42px;}
#tabsja td{ text-align:center; font-size:12px }
.tabsjxt{color:#a1a1a1; font-size:12px; font-weight:700; padding-top:10px}
.con_k1_ti_02{ float:right; }

.seh{float:left; background:#ccc; height:31px; margin:7px; display:inline;}
.sehh{width:123px; margin-right:5px; float:left; background:#ccc; height:31px; margin-top:15px;}

.left{width:255px; float:left;}
.right{width:740px; float:right;}
.news_lb{ margin:0px auto; width:735px; padding:10px 0px 0px 0px; }
.tplbzong{ float:left;width:123px; margin:20px 12px 0 12px;}
.tplb1-1{ height:55px;  background:#f7f7f7; border:1px #dfe0e5 solid;}

.tplbqqq{ width:113px; height:40px; margin:5px; padding:1px; text-align:center; overflow:hidden;}
.news_sz{ margin:0px auto; width:655px; font:12px/50px "宋体"; text-align:center; padding-top:15px; }
.news_sz a{ color:#FF0000}
.kbtsa{ margin:10px auto; text-align:center; float:left; width:90%;}
a.sj_an{ float:left; width:121px; height:39px; text-align:center; font:14px/39px "宋体"; font-weight:bold; color:#666666; margin-left:10px; text-decoration:none; background:url(images/sj_01.jpg) }
a.xzsjz{color:#FFF; background:url(images/sj_02.jpg); float:left; width:121px; height:39px; text-align:center; font:14px/39px "宋体"; font-weight:bold; margin-left:10px; text-decoration:none;  }
a.sj_an:hover{ color:#FFF; background:url(images/sj_02.jpg) }

a.d{ font:12px/30px "宋体"; color:#111; text-decoration:none; }
a.d:hover{ color:#DD0005; }

.x_news_lb{ width:725px; margin:0 auto;}
.x_news_lb li { line-height:36px; float:left; height:125px; width:100%; border-bottom:1px dashed #b5b5b5; font-size:14px; }
.x_news_lb li a{ font-size:14px;}
.x_news_lb li a:hover{color:#f90;}
.x_news_lb li a.blue{color:#c40001; font-size:14px;}
.x_news_lb li a.blue:hover{color:#f90;}
.x_news_lb li a.j{ font:14px/30px "宋体"; color:#999; text-decoration:none; }
.x_news_lb li a.j:hover{ text-decoration:underline; }
.data_lb {position:absolute;right:0px;top:1px;font-size:12px; color:#979797;}

.x_news_lbl{ width:725px; margin:0 auto;}
.x_news_lbl li { line-height:36px; float:left; height:110px; width:100%; border-bottom:1px dashed #b5b5b5; font-size:14px; }
.x_news_lbl li a{color:#c40001; font-size:18px;}
.x_news_lbl li a:hover{color:#f90;}
.x_news_lbl li a.blue{color:#c40001; font-size:14px;}
.x_news_lbl li a.blue:hover{color:#f90;}
.x_news_lbl li a.j{ font:14px/30px "宋体"; color:#999; text-decoration:none; }
.x_news_lbl li a.j:hover{ text-decoration:underline; }

.left_nav ul{width:230px; margin:0 auto;}
.left_nav li{width:100%; float:left; background-image:url(images/dot.jpg); background-color:#690100; height:30px; background-repeat:no-repeat; margin-top:10px; text-align:center; line-height:30px;}
.left_nav li a{color:#FFF; float:left; width:100%; height:30px;}
.left_nav li a:hover{color:#FF0;}

.left_nav_01 ul{width:230px; margin:0 auto;}
.left_nav_01 li{width:70px; margin-left:3px; margin-right:3px;  display:inline; float:left; height:30px; background-image:url(images/left_nav.jpg); background-repeat:no-repeat; margin-top:10px; text-align:center; line-height:30px;}
.left_nav_01 li a{color:#FFF; float:left; width:100%; height:30px;}
.left_nav_01 li a:hover{color:#FF0;}

.wdzs_con{ float:left; width:983px;border:1px #d1d1d1 solid;}
.wdzs_ti{ float:left; width:100%; height:46px; background:url(images/wdzs_ti.jpg); }
.wdzs_k{ float:left; width:100%; height:41px; font:13px/40px "宋体"; text-align:center; background:url(images/wdzs_xx.gif) center bottom repeat-x; }
.wdzs_k1{ float:left; width:108px; background:#f7f7f7; text-align:center; min-height:40px;}
.wdzs_k2{ float:left; width:142px; text-align:center; padding:0px 5px; min-height:40px;}
.wdzs_k3{ float:left; width:113px; min-height:40px;}
.wdzs_k4{ float:left; width:50px; height:29px; padding-top:11px; background:#f7f7f7; }
.dy{ margin:0px auto; width:545px; margin-top:12px}
.tys{ text-align:right; color:#333; background:#f4f4f4; font-weight:700; font-size:14px}
.tysb{ text-align:center; color:#333; background:#f2f2f2; font-weight:700; height:28px }
.t22{ font-size:14px}
.t22 td{ padding:5px}

.sj_con{ float:left; width:1005;}
.sj_ti{ float:left; height:39px; padding:12px 0px 12px 35px; }
.wkaa{ margin:20px auto;}
.sj_l_k{ float:left; width:960px; text-align:center; padding:15px 0px; overflow:hidden;}
.sj_con_r{ float:left; width:315px; padding-left:14px; }
.sj_r_k{ float:left; width:315px; padding-top:15px; }
.sj_r_k_ti{ float:left; font:14px "宋体"; font-weight:bold; color:#238f39; border:1px #d1ecb5 solid; text-align:center; width:313px; height:24px; padding-top:10px; background:#fefffa; }
.sj_r_k_bo{ float:left; width:313px; border:1px #d1ecb5 solid; border-top:0px; padding-bottom:10px; }
.sj_r_k td{ text-align:center; font:12px "宋体"; color:#4f4e4e; border-bottom:1px #d1ecb7 dashed; }

/* ------------ 逾期数据 ------------ */
#x_08{ background:url(images/yqsj_ti.jpg); }
.yqsj_con{ float:left; width:983px; border:1px #d1d1d1 solid; }
.yqsj_k{ float:left; width:983px; font:13px/60px "宋体"; text-align:center; border-bottom:1px dotted #CCC; height:240px;}
.yqsj_k1{ float:left; width:105px; background:#f7f7f7; }
.yqsj_k2{ float:left; width:134px; padding:12px 5px 0px 5px; font:13px/20px "宋体"; }
.yqsj_k3{ float:left; width:105px; }
.yqsj_k4{ float:left; width:65px; height:49px; padding-top:11px; background:#f7f7f7; }
.yqsj_k5{ float:left; width:144px; background:#f7f7f7; }
#x_09{ margin-top:11px; width:973px; padding:10px 0px 10px 10px; font:12px/40px "宋体"; }
.yqsj_tx1{ float:left; border:1px #d1d1d1 solid; padding:2px; margin-bottom:110px; color:#353535; }
.yqsj_tx2{ float:left; width:240px; height:40px; margin:0px 0px 10px 35px; padding-left:10px; color:#353535; border:1px #b4d996 dashed; background:#fefff9; }
#x_10{ width:784px; }
#x_11{ margin-left:20px; }
#x_12{ width:784px; margin-bottom:0px; }

.top_k4{ width:521px; height:221px; margin-top:11px; border:1px #c40001 solid; margin:0 auto;}
.top_dl{ margin:0px auto; width:200px; height:25px; padding-top:6px;}
.top_dl_x{ margin:0px auto; width:200px; height:25px; padding-top:6px; }
.top_dl .inta{ width:195px; height:25px; border:0px; font:12px/25px "宋体"; padding-left:5px; color:#8d8d8d; background:url(images/t_tu05.jpg) }
.top_dl_x .inta{ width:69px; height:25px; border:0px; font:12px/25px "宋体"; padding-left:5px; color:#8d8d8d; background:url(images/t_tu06.jpg) }
.wdzs_sz{ width:983px; font:12px/38px "宋体"; height:40px; color:#d28205; font-weight:bold; text-align:center; background:url(images/wdzs_fo.jpg); }
.nei{ text-align:justify; text-justify:inter-ideograph;margin:15px; font-size:14px;line-height:180%;}

#x_13{ background:url(images/zs_ti.jpg); }
.zs_k1{ float:left; width:87px; background:#f7f7f7; min-height:40px;}
.zs_k2{ float:left; width:98px;  min-height:40px;}
.zs_k3{ float:left; width:59px;  min-height:40px;}

.ptgl li{width:218px; float:left; text-align:center; margin-top:20px; line-height:55px; margin-left:5px; margin-right:5px; display:inline;}
.ptgl li a{color:#000; font-size:14px; font-weight:bold;}
.ptgl li a:hover{color:#F00;}

.con_l_ti_t{ margin:0px auto; width:75%; padding-top:26px; font:22px "微软雅黑"; color:#555555; text-align:center; }
.con_l_ti_c{ margin:0px auto; width:80%; height:20px; margin-top:30px; border:1px #e8e8e8 solid; background:#f7f7f7; font:12px "宋体"; color:#757575; padding-top:8px; text-align:center }
.con_l_ti_c_l{ float:left; padding-left:35px; }
.con_l_ti_c_r{ float:right; padding-right:22px; }
.con_l_ti_f{ margin:0px auto; width:582px; padding:18px; margin-top:21px; border:1px #dddddd dashed; font:12px/20px "宋体"; color:#505050; }
.con_l_ti_f span{ color:#ff6600; }
.con_l_ti_b{ margin:0px auto; width:75%; padding-top:28px; font:14px/36px "宋体"; color:#070707; }

p#back-to-top{position:fixed; bottom:30px; right:30px;}
p#back-to-top a{text-align:center;text-decoration:none;color:#d1d1d1;display:block;width:80px;  /*使用CSS3中的transition属性给跳转链接中的文字添加渐变效果*/  -moz-transition:color 1s;  -webkit-transition:color 1s;  -o-transition:color 1s;}
p#back-to-top a:hover{  color:#979797;}
p#back-to-top a span{  background:url(images/scrolltop.gif) no-repeat center center;  border-radius:6px;  display:block;  height:77px;  width:24px;  margin-bottom:5px;  /*使用CSS3中的transition属性给<span>标签背景颜色添加渐变效果*/ -moz-transition:background 1s;  -webkit-transition:background 1s;  -o-transition:background 1s;}
#back-to-top a:hover span{  background:url(images/scrolltop.gif) no-repeat center center;}

.main_head {
	BACKGROUND: url(/images/img3-5_2.png) no-repeat
}
* HTML .main_head {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/img3-5_2.png",sizingMethod='crop'); BACKGROUND: none transparent scroll repeat 0% 0%
}
* + HTML .main_head {
	BACKGROUND: url(/images/img3-5_2.png) no-repeat
}
.info {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/img3-5_3.png) repeat-y; PADDING-TOP: 5px
}
* HTML .info {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/img3-5_3.png",sizingMethod='crop'); BACKGROUND-REPEAT: repeat-y
}
* + HTML .info {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/images/img3-5_3.png) repeat-y; PADDING-TOP: 5px
}
.down_kefu {
	WIDTH: 124px; BACKGROUND: url(/images/img3-5_4.png) no-repeat; HEIGHT: 78px
}
* HTML .down_kefu {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/img3-5_4.png",sizingMethod='crop'); WIDTH: 124px; BACKGROUND-REPEAT: repeat-y; HEIGHT: 78px
}
* + HTML .down_kefu {
	WIDTH: 124px; BACKGROUND: url(/images/img3-5_4.png) no-repeat; HEIGHT: 78px
}
.Obtn {
	MARGIN-TOP: 104px; WIDTH: 32px; BACKGROUND: url(/images/img3-5_1.png) no-repeat; FLOAT: left; HEIGHT: 139px; 
}
* HTML .Obtn {
	FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/img3-5_1.png",sizingMethod='crop'); WIDTH: 32px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: 139px
}
* + HTML .Obtn {
	MARGIN-TOP: 104px; WIDTH: 32px; BACKGROUND: url(/images/img3-5_1.png) no-repeat; FLOAT: left; HEIGHT: 139px; 
}
.qqtable SPAN {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; COLOR: #ff6600; FONT-SIZE: 13px; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.qqtable A {
	TEXT-DECORATION: none
}
.qqtable A:hover {
	TEXT-DECORATION: none
}
.qun {
	BORDER-BOTTOM: #c2dbea 1px solid; BORDER-LEFT: #c2dbea 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: #ffffff; PADDING-LEFT: 0px; WIDTH: 100px; PADDING-RIGHT: 0px; FONT-SIZE: 12px; BORDER-TOP: #ffd2bf 1px solid; BORDER-RIGHT: #ffd2bf 1px solid; PADDING-TOP: 5px
}
.qun SPAN {
	COLOR: #000; FONT-SIZE: 12px; 
}

.xx_tu01{ float:left; width:196px; height:196px; border:1px #c41000 solid; padding:2px; }
.xx_tu02{ float:left; width:758px; border:1px #c41000 solid; margin-left:18px; }
.xx_ti{ margin:0px auto; width:741px; height:43px; background:url(images/xx_ti_bg.jpg)}
.xx_bo01{ margin:0px auto; width:704px;  padding:8px; float:left;}
#x_15{ padding-top:0px; font:12px/48px "宋体"; color:#3c3c3c; }
.xx_bo02{ margin:0px auto; width:704px; }
.xx_ti_l{ float:left; padding-left:16px; font:14px/43px "宋体"; font-weight:bold; color:#c41000; }
.xx_ti_r{ float:right; padding-right:16px; font:12px/43px "宋体"; color:#8b8a8a; }
.xx_k{ float:left; width:234px; height:34px; font:14px/34px "宋体"; color:#3c3c3c; padding-top:5px; }
#x_16{ padding-top:7px; }
.xx_zi1{ font:18px "宋体"; color:#ff4e00; }
.xx_zi2{  font:15px "宋体"; color:#ff4e00; }
.xx_k02{ float:left; width:70px; font-size:14px; }
.xx_k03{ float:left; width:114px; height:99px; font-size:14px; }
.xx_k04{ float:left; width:589px; font:12px/26px "宋体"; padding-top:8px; }
.dfla{ text-align:center; margin:10px auto; height:40px; float:left; width:100%;}

.xx_k{ float:left; width:234px; height:34px; font:14px/34px "宋体"; color:#3c3c3c; padding-top:5px; }
.null{ clear:both; }
.graph { width: 120px; border: 1px solid #c41000;padding: 2px; float:left; margin-top:5px}
.graph .bar {
	display: block;
	position: relative;
	background:#900;
	color: #fff;
	height:14px;
	font-size:12px;
}  
.graph  span{ z-index:999; position:absolute;   width:100px; text-align:left; margin-top:-9px;}  

.rightNav{ position:fixed; width:140px;  right:0; bottom:0px; _position:absolute; text-align:left; cursor:pointer; background-image:url(about:blank);  }
.rightNav a{ display:block; position:relative; height:30px; line-height:30px; margin-bottom:2px; background:#fff; padding-right:10px; width:130px; overflow:hidden;  cursor:pointer; right:-110px; }
.rightNav a:hover{ text-decoration:none; color:#1974A1;  }
.rightNav a:hover em{ background:#00b700}
.rightNav a em{ display:block; float:left; width:30px; background:#1974A1; color:#fff; font-size:16px; text-align:center; margin-right:10px;}



.artInfo { color:#999; text-align: center; position:relative;*zoom:1; top:-6px;}
.artInfo .font_change { position:absolute; right:0;_right:20px; color:#666; line-height:24px; }
.icon { background:url(images/ent_zxh_0816_01v3.png) no-repeat -999em 0 }

.font_down {background-position:0 -454px; width:24px; height:26px; display:inline-block; vertical-align:middle; outline:none; margin:0 3px 0 4px;}
.font_down:hover {background-position:0 -427px;}
.font_down_disable, .font_down_disable:hover { background-position:-26px -454px; cursor:text}
.font_up { background-position:0 -400px; width:24px; height:26px; display:inline-block;vertical-align:middle;outline: none; margin:0 4px}
.font_up:hover { background-position:-26px -427px;}
.font_up_disable, .font_up_disable:hover { background-position:-26px -400px; cursor:text}

.blkContainerSblkCon { font-size: 14px; line-height: 23px; padding: 23px 19px 0; }
.blkContainerSblkCon img{/*width:700px;*/}
.blkContainerSblkCon p{ margin:15px 0; font-size:14px;}

/* .blkContainerSblkCon p span{font-size:12px;} */
a.wt_article_link:link, a.wt_article_link:visited{ color:#333;}
a.wt_article_link:hover{ background-color:#FAE6E8; color:#333; text-decoration:none}
/*字体缩放*/
.blkContainerSblkCon_18, .blkContainerSblkCon_18 p, .blkContainerSblkCon_18 h1, .blkContainerSblkCon_18 h2, .blkContainerSblkCon_18 h3, .blkContainerSblkCon_18 h4, .blkContainerSblkCon_18 h5, .blkContainerSblkCon_18 h6{font-size: 18px;line-height: 32px;}
.blkContainerSblkCon_16, .blkContainerSblkCon_16 p, .blkContainerSblkCon_16 h1, .blkContainerSblkCon_16 h2, .blkContainerSblkCon_16 h3, .blkContainerSblkCon_16 h4, .blkContainerSblkCon_16 h5, .blkContainerSblkCon_16 h6{font-size: 16px;line-height: 26px;}
.blkContainerSblkCon_14, .blkContainerSblkCon_14 p, .blkContainerSblkCon_14 h1, .blkContainerSblkCon_14 h2, .blkContainerSblkCon_14 h3, .blkContainerSblkCon_14 h4, .blkContainerSblkCon_14 h5, .blkContainerSblkCon_14 h6{font-size: 14px;line-height: 23px;}
.blkContainerSblkCon_18 h1, .blkContainerSblkCon_18 h2, .blkContainerSblkCon_18 h3, .blkContainerSblkCon_18 h4, .blkContainerSblkCon_18 h5, .blkContainerSblkCon_18 h6,
.blkContainerSblkCon_16 h1, .blkContainerSblkCon_16 h2, .blkContainerSblkCon_16 h3, .blkContainerSblkCon_16 h4, .blkContainerSblkCon_16 h5, .blkContainerSblkCon_16 h6,
.blkContainerSblkCon_14 h1, .blkContainerSblkCon_14 h2, .blkContainerSblkCon_14 h3, .blkContainerSblkCon_14 h4, .blkContainerSblkCon_14 h5, .blkContainerSblkCon_14 h6{font-weight: bold;}
/*/字体缩放 */

.xgxw_con{padding-left:23px; padding-right:23px;}
.content_line_02{ background:url(images/ent_zxh_0816_line_02.png) repeat-x; height:1px; overflow:hidden; font-size:0; margin:10px 35px; clear:both}

/* 相关新闻和相关专题 */
.content_aboutNews{ padding:5px 0 5px 40px}
em, i{ font-style:normal}
.cc_blk_01 .bc{ border:solid 1px #e5e5e5; border-top:0; padding:1px 0 0; width:298px; overflow:hidden}
.cc_blk_01 .btn{ margin:3px 6px 0 6px; background:url(images/ent_zxh_0816_line_01.png) repeat-x; text-align:center; padding:5px 2px 0; color:#999; height:22px; line-height:22px;} 
.cc_blk_01 .btn span{ float:right;}
.cc_blk_01 .btn span.nolike{ line-height:25px;}
.cc_blk_01 .bc01{ float:left; display:inline; padding-top:13px;width:140px;}
.cc_blk_01 .bc02{ padding:15px 0 10px 15px}
.cc_blk_01 .bcline{ border-right:solid 1px #d9d9cd; width:0; height:202px; float:left; font-size:0; overflow:hidden; margin:13px 8px 0; display:inline}
.cc_blk_01 .bc_btn{ clear:both; border-top:solid 1px #dcd8cd; padding:3px 0 3px 6px; margin:3px 15px;}
.cc_blk_01 .bc_btn .cc_list li{ float:left; line-height:25px; height:25px; width:131px;}

.cc_changeit{ float:right; width:72px; height:25px; overflow:hidden; line-height:23px;}
.cc_changeit a{ display:block; background:url(images/ent_zxh_0816_02v9.png) no-repeat -20px -480px;text-indent:-9999em;}
.cc_changeit a:hover{background-position: -92px -480px;}

.ctit_02{ height:30px; padding-right:14px}
.ctit_02 h2{font-weight:bold;font-size:16px; font-family:"微软雅黑"; color:#010101; line-height:30px;}
.ctit_02 .more {padding:7px 19px 0 0; background:url(images/ent_zxh_0816_02v9.png) no-repeat 27px -489px; background-position:27px -491px\9; vertical-align:middle}
.ctit_02 .changeit{ float:right; width:72px; height:25px; overflow:hidden; line-height:300px; padding:5px 16px 0 0}
.ctit_02 .changeit a{ display:block; background:url(images/ent_zxh_0816_02v9.png) no-repeat -20px -480px;}
.ctit_02 .changeit a:hover{background-position: -92px -480px;}

/* 列表 */
.cpot li{ background:url(images/ent_zxh_0816_01v3.png) no-repeat -47px -90px; padding-left:13px;}
.cf6 li{ background:url(images/ent_zxh_0816_01v3.png) no-repeat -47px -142px; padding-left:10px;}
.clist_01 { padding:3px 0 10px}
.clist_01 li { line-height:24px; height:24px; overflow:hidden; font-size:14px; white-space:nowrap }
.clist_01 li span{ float:right; color:#999; font-size:12px;}

.clist_02{ padding-left:3px;}
.clist_02 li { line-height:24px; height:24px; font-size:14px; overflow:hidden; white-space:nowrap }

.clist a:link { color:#333;}
.cf6 a:link, .clist_02 a:link {color:#444;}
.clist a:visited { color:#666;}
.clist a:hover { color:#c00; }

/*正文页标签*/
.content_label_list{ border:solid 1px #ccc; background:#f7f7f7 url(images/ent_zxh_0816_01v3.png) no-repeat -15px -544px; padding:4px 4px 4px 50px; color:#333; margin:27px 20px;}
.content_label_list a:link, .content_label_list a:visited{color:#C46E71}
.content_label_list a:hover{color:#c00}
.yhs{border:solid 1px #ccc; background:#f1f1f1; padding:10px; color:#333; margin:10px 42px 43px 42px; float:left; width:630px;}
.plq{border:solid 1px #ccc; background:#f1f1f1; padding:10px; color:#333; margin:0px 42px; float:left; width:630px;}
.pl {border:solid 1px #ccc; padding:10px; color:#333; margin:0px 42px; float:left; width:630px;}
.pl li {width:100%; float:left; border-bottom:1px dashed #ccc; line-height:25px; color:#999; height:105px; margin-top:10px;}
.pl li .mc{width:200px; float:left;}
.pl li .fbdate{width:200px; float:left;}
.pl li .cent{width:100%; float:left; line-height:25px; font-size:14px; color:#333;}
/* 新闻滚动 */
.txtMarquee-top1{ width:100%;  overflow:hidden; position:relative;  }
.txtMarquee-top1 .hd{ overflow:hidden;  height:30px;  padding:0 10px;  }
.txtMarquee-top1 .bd{  padding:0px 15px;  }
.txtMarquee-top1 .infoList li{ height:24px; line-height:24px;   }
.txtMarquee-top1 .infoList li .date{ float:right; color:#999;  }

.txtMarquee-top2{ width:100%;  overflow:hidden; position:relative;  }
.txtMarquee-top2 .hd{ overflow:hidden;  height:30px; padding:0 10px;  }
.txtMarquee-top2 .bd{ padding:0px 15px;  }
.txtMarquee-top2 .infoList li{ height:24px; line-height:24px;   }
.txtMarquee-top2 .infoList li .date{ float:right; color:#999;  }

.baise{color:#FFF;}
.baise:hover{color:#f90;}

.grcen{width:980px; float:left;  margin-top:10px;}

.grzt{width:545px; float:left;  border:1px #ccc solid; margin-top:10px;}
.wdhy{width:170px; float:left;  border:1px #ccc solid; margin-top:10px; padding:0px 5px 5px 5px;}
.hylist{width:545px; float:left;  border:1px #ccc solid; margin-top:10px;}
.hylist ul{width:545px; float:left;}
.hylist li {width:160px; float:left; margin:10px; display:inline;;}

.grnav ul{width:100%; float:left;}
.grnav li {width:100%; float:left;  display:inline; height:35px; line-height:35px; margin-top:5px; text-indent:2em;}
.grnav li:hover{background-color:#FFF; border:1px solid #f2f2f2; border-left:2px #f90 solid;  border-right:0px;}
.grnav li a{font-size:14px;}

.znnav ul{width:auto; float:left;}
.znnav li {width:auto; float:left; margin:0px 5px;}
.znnav li a{font-size:14px; float:left; padding:0px 5px;}
.znnav li a:hover{background-color:#c40001; color:#FFF; border-top:2px #FF0 solid;}

#login_box { width:400px;  display:none; padding-bottom:20px; position:relative; text-align:left; }
#login_box fieldset { border:0 none; }
.close { position:absolute; right:8px; top:0; display:block; width:33px; height:17px; background:url(images/close.png) no-repeat; text-indent:-9999px; outline:none; }
.top_h4 { font-size:16px; background:url(images/login_box_title_bg.png) repeat-x; line-height:36px; margin-bottom:10px; letter-spacing:1px; text-indent:23px; color:#fff; width:393px;}
.label { padding-left:23px; }
.label p { font-size:13px; margin-bottom:5px; }
.label input { background:#f7f7f7; width:227px; height:20px; padding-top:2px; padding-left:3px; border:1px solid #caedbe; margin-bottom:5px; font:12px "Bitstream Vera Sans", "Trebuchet MS", Geneva, Verdana, Arial, Helvetica, sans-serif; }
.label input:hover, .label input:focus { border:1px solid #b2e06e; }
#login_box fieldset span a { text-align:center; margin-right:15px; font-size:12px; width:auto; line-height:24px; display:block; float:left; text-decoration:none; color:#63aa49; }
#login_box span a:hover { color:#000; }
#login_box .button2{ float:left; margin-left:23px !important; margin-left:11px; margin-top:5px; }
#login_box .button2 a { float:left; margin-left:23px !important; margin-left:11px; }

#login_box1 { width:400px;  display:none; padding-bottom:20px; position:relative; text-align:left; }
#login_box1 fieldset span a { text-align:center; margin-right:15px; font-size:12px; width:auto; line-height:24px; display:block; float:left; text-decoration:none; color:#63aa49; }
#login_box1 span a:hover { color:#000; }
#login_box1 .button2{ float:left; margin-left:23px !important; margin-left:11px; margin-top:5px; }
#login_box1 .button2 a { float:left; margin-left:23px !important; margin-left:11px; }


.slideGroup{ width:100%; text-align:left;  }
.slideGroup .parHd{ height:30px; line-height:30px; background:#f4f4f4; border-bottom:1px solid #ddd;  position:relative;  }
.slideGroup .parHd ul{ float:left; position:absolute; height:30px;   }
.slideGroup .parHd ul li{ float:left; width:127px; text-align:center; cursor:pointer;  }
.slideGroup .parHd ul li.on{ height:30px;  background:#c40001; color:#fff; font-weight:bold; }
.slideGroup .parBd{ padding:5px 10px; zoom:1;  }
.slideGroup .slideBox{ overflow:hidden; zoom:1; }

.bptt li {width:100%; float:left;text-align:center;height:35px; line-height:35px;}
.bptt a{color:#FFF;}
.bptt a:hover{color:#FF0;}
.bptt td{color:#fff; text-align:center; background-image:url(images/bp_bgbg.jpg);}

.bpttt li {width:100%; float:left; text-align:center; line-height:25px;}
.bpttt a{color:#FFF;}
.bpttt a:hover{color:#FF0;}
.bpttt td{color:#fff; text-align:center; background-image:url(images/bp_bgbg.jpg);}

.slideGroupp .parHdd{line-height:30px; width:auto; float:left; position:relative;   }
.slideGroupp .parHdd ul{float:left; display:inline; margin-top:2px; }
.slideGroupp .parHdd ul li{ height:28px; background-image:url(images/index_72.jpg); background-repeat:no-repeat; background-position:10px 10px; border:1px solid #ccc; border-bottom:0px; border-top:0px; color:#c40001; width:98px; text-align:center;}
.slideGroupp .slideBoxx{ float:left; zoom:1; padding:20px; }

.slideGroupp .parBdd .picgd{ overflow:hidden; zoom:1;}
.slideGroupp .parBdd .picgd li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.slideGroupp .parBdd .picgd li .pic{ text-align:center; }
.slideGroupp .parBdd .picgd li .pic img{ width:120px; height:45px; border:1px solid #ccc; }

.slideGroupp .parBdd .bd { zoom:1; width:auto; float:left; margin:5px; display:inline;}
.slideGroupp .parBdd .bd li{ height:24px; line-height:24px; width:100px; float:left; white-space:normal; word-break:break-word; margin-left:6px; margin-right:7px; display:inline;}
.slideGroupp .parBdd ul li a{color:#03F; font-size:14px;}
.slideGroupp .parBdd ul li a:hover{color:#f90;}
.slideGroupp .parBdd .bd li .date{ float:right; color:#999;  }

.tit_741{ width:738px;background-image:url(images/index_17.jpg);   background-repeat:no-repeat; border-top:2px #c40001 solid; border-bottom:#cfdae6 1px solid ; border-left:#cfdae6 1px solid ; border-right:#cfdae6 1px solid; float:left; height:30px; padding-bottom:10px;}

.dl_one{width:100%; float:left; background:#d54c4c; color:#fff; height:29px; line-height:29px; font-size:12px; text-indent:4em; font-weight:bold; border-bottom:1px #ccc solid;}

/*返回头部样式二*/
#moquu_top,#moquu_wxin,#moquu_wshare,#moquu_wmaps {
	z-index: 2; width: 50px; height: 50px; right: 5px; position: fixed;
	cursor: pointer; _position: absolute; _bottom: auto;
	_top: expression(eval(document.documentElement.scrollTop +
		document.documentElement.clientHeight-this.offsetHeight- ( parseInt(this.currentStyle.marginTop
		, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))
}

#moquu_wxin {
	bottom: 206px;_margin-bottom: 206px;
}

#moquu_wxin a {
	background: url(images/sbtn.png) 0 -0px; right: 0; float: left;
	width: 50px; height: 50px; text-indent: -9999px
}

#moquu_wxin a:hover {
	background: url(images/sbtn.png) -50px -0px
}

#moquu_wshare {
	bottom: 154px;_margin-bottom: 154px;
}

#moquu_wshare a {
	background: url(images/sbtn.png) 0 -50px; width: 50px; height: 50px;
	right: 0; float: left; text-indent: -9999px
}

#moquu_wshare a:hover {
	background: url(images/sbtn.png) -50px -50px
}

#moquu_wmaps {
	bottom: 102px;_margin-bottom: 102px;
}

#moquu_wmaps a {
	background: url(images/sbtn.png) 0 -150px; width: 50px; height: 50px;
	right: 0; float: left; text-indent: -9999px
}

#moquu_wmaps a:hover {
	background: url(images/sbtn.png) -50px -150px
}

#moquu_top {
	bottom: 50px;_margin-bottom: 50px;
	background: url(images/sbtn.png) 0 -101px; width: 50px; height: 50px
}

#moquu_top:hover {
	background: url(images/sbtn.png) -50px -101px
}

.moquu_wxin,.moquu_wshare {
	position: relative; z-index: 2
}

.moquu_wxin a:hover .moquu_wxinh,.moquu_wshare a:hover .moquu_wshareh {
	display: block
}

.moquu_wxin .moquu_wxinh {
	position: absolute; display: none; left: -200px; top: -50px;
	width: 200px; height: 200px;
	background: url(images/lrtk_weixin.png) 0 -2px no-repeat
}

.moquu_wshare .moquu_wshareh {
	position: absolute; display: none; left: -200px; top: -50px;
	width: 200px; height: 200px;
	background: url(images/lrtk_app.png) no-repeat
}
/*返回头部样式二*/